.coinsHeader  th {

    font-weight: 700 !important; 
}


.pageHaader{
    font-weight: 700 !important; 
    display: flex;
    align-items: center;
}

.coinInfoBtn span {
    display: flex;
    text-align: center;
    white-space: nowrap;
    flex-direction: column;
 }

.coinInfoBtn :hover {
    color :#3f51b5
}



 .prices{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .priceItem{
     width: 25% !important;
 }