html  {  padding: 20px;
background-color: #ecf0f1;
}

* { 
  box-sizing: border-box;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
